.cases {
	display: none;
}

.cases2 {
	display: none;
}

.careers {
	display: none;
}

.contact {
	display: none;
}

.careers2 {
	display: none;
}

.chinese2 {
	display: none;
}

.gengduo {
	display: none;
}

.know {
	display: none;
}
.logos{
	background: #CCCCCC;
	height: 100%;
	display: none;
	
}
.home{
	display: none;
}
button {
	cursor: pointer;
}
.ye1{ text-align: center;
font-family: "微软雅黑";
font-size: 29px;
margin-top: 53px;}
.logos ul li { height: 150px;
margin-bottom: 18px;
line-height: 150px;}
.logos ul li button{ padding: 5px 9px 5px 9px;}
.logos ul li img{ margin-left: 23px;
width:200px;
height: 150px;
margin-right: 83px; }


.home ul li { height: 50px;
line-height: 50px;}
.home ul li p{ width: 21%;
text-align: center;
float: left; }
.home ul li button{ padding: 4px 7px 4px 7px;}
.homens{ width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
position: fixed;
display: none;
top: 0;
left: 0;}
.homens>div{ width: 260px;
height: 210px;
background: white;
position: absolute;
top: 50%;
left: 50%;
box-sizing: border-box;
padding: 1%;
border: 1px solid #CCCCCC;
margin-left: -130px;
margin-top: -105px;
}
.homens>div>p{ margin-top: 23px;}
.homens>div>p button{ margin-left: 26px;
padding: 4px 7px 4px 7px;}
