.cases {
	display: none;
}

.cases2 {
	display: none;
}

.careers {
	display: none;
}

.contact {
	display: none;
}

.careers2 {
	display: none;
}

.chinese2 {
	display: none;
}

.gengduo {
	display: none;
}

.know {
	display: none;
}
button {
	cursor: pointer;
}